th input {
  width: 100%;
  border-radius: 10px;
  border: 1px solid #e5e7eb;
  font-size: 18px;
  padding: 5px 10px;
  outline: none;
  transition: 0.5s;
}

th input:focus {
  -webkit-box-shadow: 0px 0px 8px 0px rgba(59, 130, 246, 0.54);
  -moz-box-shadow: 0px 0px 8px 0px rgba(59, 130, 246, 0.54);
  box-shadow: 0px 0px 8px 0px rgba(59, 130, 246, 0.54);
}

th button {
  border: none;
  font-size: 16px;
  background-color: transparent;
  font-weight: 700;
  color: #374151;
  cursor: pointer;
}

.select-container {
  display: flex;
  justify-content: center;
  height: 30px;
  width: 80px;
}

.select-box {
  border: none;
  appearance: none;
  padding: 0 30px 0 15px;
  width: 100%;
  background-color: #3b82f6;
  color: #fff;
  font-size: 16px;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
}

select option {
  padding: 5px;
}

.myIcon {
  transform: rotate(-90deg);
  padding: 10px 5px;
  width: 32px;
}

.tags-content {
  display: flex;
  align-items: center;
  column-gap: 4px;
}

.likesCount i {
  padding-right: 5px;
}

.solved {
  color: #28c76f !important;
}

.attemptsCount {
  color: #00cfe8 !important;
}

.footer {
  background-color: #f9fafb;
  padding: 30px 0;
  margin-top: 10px;
}

.footer p {
  text-align: center;
}
